<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/ct_center</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
      <mapping resource="Admin.hbm.xml"/>
      <mapping class="com.Dimcooo.model.Admin"/>
      <mapping resource="Lesson.hbm.xml"/>
      <mapping class="com.Dimcooo.model.Lesson"/>
      <mapping resource="ListScholarSubject.hbm.xml"/>
      <mapping class="com.Dimcooo.model.ListScholarSubject"/>
      <mapping resource="Scholar.hbm.xml"/>
      <mapping class="com.Dimcooo.model.Scholar"/>
      <mapping resource="Subject.hbm.xml"/>
      <mapping class="com.Dimcooo.model.Subject"/>
      <mapping resource="SubjectFeedback.hbm.xml"/>
      <mapping class="com.Dimcooo.model.SubjectFeedback"/>
      <mapping resource="Task.hbm.xml"/>
      <mapping class="com.Dimcooo.model.Task"/>
      <mapping resource="Teacher.hbm.xml"/>
      <mapping class="com.Dimcooo.model.Teacher"/>
      <mapping resource="TeacherFeedback.hbm.xml"/>
      <mapping class="com.Dimcooo.model.TeacherFeedback"/>
      <mapping resource="User.hbm.xml"/>
      <mapping class="com.Dimcooo.model.User"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>